<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application AngularJS avec Bootstrap</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="vendor/angular-1.8.2/angular.js"></script>
    <script src="vendor/angular-1.8.2/angular-route.js"></script>
    <script src="app/app.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainController">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mon Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="changeView('accueil')">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="changeView('page1')">Page 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="changeView('page2')">Page 2</a>
            </li>
        </ul>
    </div>
</nav>

<div ng-include="templateUrl"></div>

<!-- Ajouter cette section pour afficher la liste des villages -->
<div class="container mt-5">
    <h2>Liste des villages</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom du Village</th>
                <th scope="col">Langue</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="village in villages">
                <td>{{ village.nom }}</td>
                <td>{{ village.langue }}</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
